.dropdown {
	position: absolute;
	right: 11%;
	top: 8%;
	margin-bottom: 10px;
	z-index: 10;

	@media (max-width: 800px) {
		left: 50%;
		top: 30%;
		transform: translateX(-50%);
	}
}

.drop_butt {
	background-color: rgba(0, 0, 0, 0);
	color: white;
	border: none;
	font-weight: 555;
	font-size: 42px;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.drop_butt::before {
	content: '☰';
}

.drop_butt:hover {
	background-color: rgba(0, 0, 0, 0);
	color: rgb(158, 158, 158);
}

.drop_content {
	display: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-size: 52px;
	min-width: 120px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	line-height: 24px;
	z-index: 1;
}

.dropdown:hover .drop_content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

a {
	position: relative;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	text-align: center;
	padding: 24px;
	display: block;
	text-decoration: none;
}

.drop_content a:hover {
	background-color: #f1f1f1;
	color: black;
}

.drop_content > button {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: none;
	border-radius: 5px;
	font-size: 2vh;
	background-color: #737373;
	color: white;
	cursor: pointer;
	box-sizing: border-box;

	&:hover {
		cursor: pointer;
		color: rgb(0, 0, 0);
		background-color: #e0e0e0;
	}
}
