.container {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url('../../assets/locations.webp');
	background-size: 100% auto;
	background-position: top center;
	background-repeat: repeat-y;
}
